name: CI

on: [push]

jobs:
  linuxBuild:
    name: Swift ${{ matrix.swift-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        swift-version: [3.1.1, 4.1.3, 4.2.4, 5.0.3, 5.1.1]
        os: [ubuntu-20.04]
    
    steps:
    - name: Install Swift
      uses: YOCKOW/Action-setup-swift@v1
      with:
          swift-version: ${{ matrix.swift-version }}
    - name: Checkout
      uses: actions/checkout@v1
    - name: Swift Package Information
      run: |
        swift --version
        swift package show-dependencies
    - name: Build
      run: swift build --build-tests
    - name: Test
      run: swift test
     
  macOSBuild:
    name: macOS - Latest
    runs-on: macOS-latest
        
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Swift Package Information
        run: |
          swift --version
          swift package show-dependencies
      - name: Build
        run: swift build --build-tests
      - name: Test
        run: swift test
